# Alpha Advantage stuff
key.text

# Byte-compiled / optimized / DLL files
__pycache__/

# Development folder
sandbox

# Django stuff:
*.log
settings.py
db.sqlite3

# Environments
venv/

# Stock data
stock_dfs/
